.expense-item {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #50586c;
  color: #dce2f0;
  transition: all 0.3s ease-in-out;
}
.expense-item:hover {
  transform: scale(1.02);
  box-shadow: none;
}
.expense-item:last-child {
  margin-bottom: 0;
}
.expense-item__description {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expense-item__date {
  height: 5rem;
  border-radius: 1rem;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.25rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  color: #50586c;
  background-color: #dce2f0;
}
.expense-item__date span {
  font-weight: 500;
}
.expense-item__date span:first-child {
  margin-top: 0.5rem;
  margin-bottom: -2px;
  font-size: 0.85rem;
}
.expense-item__date span:nth-child(2) {
  font-size: 1.15rem;
}
.expense-item__date span:last-child {
  margin-bottom: 0.5rem;
  margin-top: -6px;
  font-size: 1.5rem;
  font-weight: 700;
}
.expense-item__title {
  font-size: 1.2rem;
  font-weight: bold;
}
.expense-item__price {
  display: flex;
  align-items: center;
  height: 4rem;
  font-size: 1.2rem;
  padding: 0 1.25rem;
  border-radius: 1rem;
  font-weight: bold;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  color: #50586c;
  background-color: #dce2f0;
}
@media (max-width: 1200px) {
  section {
    width: 75vw;
  }
}
@media (max-width: 850px) {
  section {
    width: 100vw;
  }
}
