.chart {
  width: 100%;
  padding: 1rem;
  border-radius: 1.25rem;
  background-color: #494949;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
  margin-bottom: 2rem;
}
