.expense-item {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #50586c;
  color: #dce2f0;
  transition: all 0.3s ease-in-out;
}
.expense-item:last-child {
  margin-bottom: 0;
}
