.expense-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.expense-list li {
  list-style: none;
}
.expense-list li > div:hover {
  transform: translate(-0.5rem, -0.5rem);
  box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.5);
}
.expense-list-fallback {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}
