.new-expense {
  display: grid;
  text-align: center;
  padding: 2.5rem;
  padding-top: 2rem;
}
.new-expense__controls {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas:
    "one two"
    "three four";
  text-align: left;
}
.new-expense__control:nth-child(1) {
  grid-area: one;
}
.new-expense__control:nth-child(2) {
  grid-area: two;
}
.new-expense__control:nth-child(3) {
  grid-area: three;
}
.new-expense__control:nth-child(4) {
  grid-area: four;
}
.new-expense button {
  background: linear-gradient(to right, #36d1dc 0%, #5b86e5 50%, #36d1dc 100%);
  width: 55%;
  height: 75%;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  background-size: 200% auto;
  color: white;
  border: none;
  border-radius: 10px;
  display: block;
}
.new-expense__submit {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.new-expense__submit button:focus-visible {
  outline: none;
}
.new-expense__submit button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.new-expense__submit button:focus {
  background-position: left center;
  color: #fff;
  text-decoration: none;
}
.new-expense__control label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;
}
.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  width: 100%;
}
.new-expense__control input:focus {
  outline: none;
}
